@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Fonts */
  --font-family-primary: "JetBrains Mono", monospace;
  --font-family-jetbrains-mono: "JetBrains Mono", monospace;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  /* Colors */
  --color-primary: #1c1c22;
  --color-accent: #00ff99;
  --color-accent-hover: #00e187;
  --color-border: #374151;
  --color-ring: #3b82f6;
  --color-white: #ffffff;
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: color-mix(in srgb, var(--color-ring) 50%, transparent);
  }

  body {
    font-family: var(--font-family-primary);
    background-color: var(--color-primary);
    line-height: 1.75;
    color: var(--color-white);
  }
}
